:root {
  --default-line-color: #ededed;
  --border-color: var(--default-line-color);
  --lozenge-bg-color: #666;
  --default-item-padding: 20px;
}
.box {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: var(--border-color) 1px solid;
}

button {
  border: none;
}
